/* =================Footer========================== */

.footer {
  display: grid;
  margin-block: 5rem;
  width: 85vw;
  margin-inline: auto;
  grid-template-columns: auto;
  --grid-gap: 1.5rem;
  grid-template-areas:
    "one"
    "two"
    "three"
    "four";
}

.footer:nth-child(1) {
  grid-area: one;
}

.footer:nth-child(2) {
  grid-area: two;
}

.footer:nth-child(3) {
  grid-area: three;
}

.footer:nth-child(4) {
  grid-area: four;
}

.footer-logo {
  display: grid;
  --grid-gap: 2rem;
}

.footer-logo .social-media {
  --flex-gap: 1.5rem;
  font-size: 1.3rem;
}

.footer-logo > p {
  width: 60%;
}

.footer-menu {
  display: grid;
}

.contact {
  display: grid;
}

.emails {
  display: grid;
}

.social-media {
  display: flex;
}

.inputField {
  display: flex;
}

.footer-menu > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.footer-menu li {
  margin-top: 0.5rem;
}

.footer-menu a {
  text-decoration: none;
}

.footer .contact > p {
  width: 60%;
}

.inputField {
  padding: 0.5rem;
  border-radius: 4rem;
}

.inputField > button {
  border: 0;
  padding: 0.7rem 1.5rem;
  border-radius: 3rem;
  cursor: pointer;
}

.inputField input {
  border: 0;
  width: 60%;
}

.inputField input:hover,
.inputField input:focus {
  outline: none;
}

.inputField input[type="email"] {
  margin-left: 2.5rem;
}

/* ===============Media Queries===================== */

@media (min-width: 35em) and (max-width: 59em) {
  .footer {
    display: grid;
    --grid-gap: 0.5rem;
    grid-auto-columns: auto;
    grid-template-areas:
      "one two"
      "three four";
  }

  .footer-logo > p {
    font-size: 1rem;
  }

  .footer-logo .social-media {
    --flex-gap: 1.5rem;
    margin-bottom: 1rem;
  }

  .footer-menu li {
    margin-top: 0.1rem;
  }

  .footer-menu a {
    font-size: 1rem;
  }

  .updates {
    font-size: 1.5rem;
  }

  .inputField input {
    border: 0;
    width: 50%;
  }

  .inputField input[type="email"] {
    margin-left: 1rem;
  }
}

@media (min-width: 59em) {
  .footer {
    display: grid;
    width: 92vw;
    margin-top: 6rem;
    --grid-gap: 2rem;
    grid-auto-columns: auto;
    grid-template-areas: "one two three four";
  }

  .footer-logo > p {
    font-size: 1rem;
  }

  .footer-menu > h3 {
    font-size: 1rem;
  }

  .footer-menu a {
    font-size: 1rem;
  }

  .contact > h3 {
    font-size: 1rem;
  }

  .emails > h3 {
    font-size: 1rem;
  }
}

/* =====================CopyRight Section===================== */

/* ===========Utility Class */

.text-align {
  text-align: center;
}

.p-top {
  padding: 1rem 0;
}

.copyRight {
  margin-top: 5rem;
  padding: 1rem 2rem;
  margin-inline: auto;
  background-color: hsl(var(--clr-black));
  color: hsl(var(--clr-white) / 0.5);
}

@media (min-width: 35em) and (max-width: 59em) {
  .copyRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

@media (min-width: 59em) {
  .copyRight {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .c-font {
    font-size: 1rem;
  }
}

.cache {
  /* visibility: hidden; */
  display: none;
}
