.home {
  font-family: "Roboto", sans-serif;
  padding: 20px;
  background-color: #f4f4f4;
}

.welcome {
  text-align: center;
  margin-bottom: 40px;
}

.welcome h1 {
  font-size: 3rem;
  color: #333;
}

.welcome p {
  font-size: 1.2rem;
  color: #555;
}

.carousel {
  text-align: center;
  margin-bottom: 40px;
}

.carousel h2 {
  font-size: 2rem;
  color: #333;
  margin-bottom: 20px;
}

.carousel-images {
  display: flex;
  justify-content: center;
  gap: 20px;
  overflow: scroll;
  border-radius: 10px;
}

.carousel-images img {
  width: 300px;
  height: 400px;
  object-fit: cover;
  border-radius: 8px;
  transition: transform 0.3s ease;
}

.carousel-images img:hover {
  transform: scale(1.05);
}

.load-more-btn {
  padding: 10px 20px;
  background-color: #28a745;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;
  transition: background-color 0.3s ease;
}

.load-more-btn:hover {
  background-color: #218838;
}

.info {
  background-color: #f1f1f1;
  padding: 40px;
  text-align: center;
  border-radius: 10px;
  margin-top: 40px;
}

.info h2 {
  font-size: 2rem;
  color: #333;
}

.info p {
  font-size: 1.2rem;
  color: #777;
}

/* Styles pour le message de chargement */
.loading {
  font-size: 1.5rem;
  color: #007bff;
  text-align: center;
  margin: 2rem 0;
  animation: fade-in 1s ease-in-out infinite;
}

/* Styles pour le message "No books found" */
.no-books {
  font-size: 1.25rem;
  color: #dc3545;
  text-align: center;
  margin: 2rem 0;
  font-style: italic;
}

/* Animation pour le chargement */
@keyframes fade-in {
  0%,
  100% {
    opacity: 0.5;
  }
  50% {
    opacity: 1;
  }
}
