/* Section de recherche */
.search-section {
  text-align: center;
  margin-bottom: 30px;
}

.search-input {
  width: 60%;
  padding: 10px;
  font-size: 1.2rem;
  border: 2px solid #ccc;
  border-radius: 5px;
  margin-top: 10px;
  transition: all 0.3s ease;
}

.search-input:focus {
  outline: none;
  border-color: #4caf50;
  box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
}
